@import '../../asset/scss/custom_variables';
.router
{
  padding-top: 26.5vh;
  .btn
  {
    width: 140px;
    border-radius: 8px;
  }
  li
  {
    width: max-content;
    height: max-content;
    margin-left: auto;
    position: relative;
  }
  li:nth-child(1)
  {
    margin-right: 30px;
    margin-top: 14px;
  }
  li:nth-child(2)
  {
    margin-right: 44px;
    margin-top: 130px;
  }
  li:nth-child(3)
  {
    margin-right: 154px;
    margin-top: 70px;

    &::before,
    &::after
    {
      content: '';
      position: absolute;
      width: 22px;
      height: 22px;
      border: 2px solid $primary;
      border-radius: 50%;
      box-shadow: $btn-shadow;
    }
    &::before
    {
      top: -140%;
      left: 50%;
      transform: translateX(-50%);
    }
    &::after
    {
      top: 12%;
      right: -55%;
    }
  }
  &::after
  {
    content: '';
    background: url('../../asset/icon/dashed_mobile.svg') no-repeat;
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 25.5vh;
    margin-left: auto;
    margin-right: 85px;
    height: 328px;
    width: 186px;
    z-index: -1;
  }
}