@import '../../asset/styles/custom_variables';

$mr-1: 30px;
$mr-2: 44px;
$mr-3: 154px;
$mr-bg: 85px;

.router
{
  padding-top: 26.5vh;
  
  @media(min-width: 992px)
  {
    margin-left: auto;
    max-width: 40%;
  }
  .btn
  {
    position: relative;
    width: 140px;
    border-radius: 8px;
    z-index: 1030;
  }
  li
  {
    width: max-content;
    height: max-content;
    margin-left: auto;
    position: relative;
  }
  li:nth-child(1)
  {
    margin-right: $mr-1;
    margin-top: 14px;

    @media(max-width: 340px)
    {
      margin-right: calc($mr-1 - 20px);
    }
  }
  li:nth-child(2)
  {
    margin-right: $mr-2;
    margin-top: 130px;

    @media(max-width: 340px)
    {
      margin-right: calc($mr-2 - 20px);
    }
  }
  li:nth-child(3)
  {
    margin-right: $mr-3;
    margin-top: 70px;

    @media(max-width: 340px)
    {
      margin-right: calc($mr-3 - 20px);
    }

    &::before,
    &::after
    {
      content: '';
      position: absolute;
      width: 22px;
      height: 22px;
      border: 2px solid $primary;
      border-radius: 50%;
      box-shadow: $btn-shadow;
    }
    &::before
    {
      top: -140%;
      left: 50%;
      transform: translateX(-50%);
    }
    &::after
    {
      top: 12%;
      right: -55%;
    }
  }
  &::after
  {
    content: '';
    background: url('../../asset/icon/dashed_mobile.svg') no-repeat;
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 25.5vh;
    margin-left: auto;
    margin-right: $mr-bg;
    height: 328px;
    width: 186px;
    z-index: -1;

    @media(max-width: 340px)
    {
      margin-right: calc($mr-bg - 20px);
    }
  }
}