body
{
  background-image: url('../cover.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
ul
{
  list-style: none;
  margin: 0;
  padding: 0;
}
h1, h2, h3, h4
{
  margin-bottom: 0;
}
input
{
  padding: 7px 0 7px 16px;
  background: $gray;
  border: 1px solid transparent;
  border-radius: $border-radius;
  color: $primary;

  &::placeholder
  {
    color: $gray-light;
  }

  &:focus
  {
    outline: none;
    border: 1px solid $primary;
    box-shadow: $btn-shadow;
  }
}
.wrap
{
  backdrop-filter: brightness(40%);
  background: transparent;
  transition: .6s;
  &.page
  {
    backdrop-filter: brightness(100%);
    background: $dark;
    @media(min-width: 1024px)
    {
      background: linear-gradient(to left, $dark 40%,
                                        rgba($dark, .5) 40%);
    }
  }
  header
  {
    transition: .6s;
  }
}
.main
{
  padding-top: 65px;
  height: 100vh;
  background: rgba($gray, 0);
  overflow: hidden;
  transition: .6s;
  @media(min-width: 1024px)
  {
    margin-left: auto;
    max-width: 40%;
  }
}
.page header
{
  @media(min-width: 1024px)
  {
    margin-left: auto;
    max-width: 40%;
  }
}
.result
{
  .main
  {
    background: rgba($gray, 1);
    padding-top: 115px;
  }
}
.btn
{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background: $dark;
  box-shadow: $btn-shadow;
  cursor: pointer;
  transition: .15s;
  border: 1px solid $primary;
  border-radius: 9px;
  
  &-primary
  {
    color: $primary;
  }
  &-light
  {
    color: $light;
  }
  &-favorite
  {
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    cursor: pointer;
    border: 0;
  }
  &:hover,
  &.active
  {
    background: $primary;
    color: $dark;
  }
  &-gray-light,
  &-gray-light:hover,
  &-gray-light:active
  {
    color: $gray-light;
    box-shadow: none;
    border: 1px solid $gray-light;
    background: $dark;

    path
    {
      fill: $gray-light;
      stroke: $gray-light !important;
    }
  }
}

.delete-icon
{
  content: url('../icon/del.svg');
  
  &:hover
  {
    content: url('../icon/del_hover.svg');
  }
}
::-webkit-scrollbar
{
  background: $gray-light;
  width: 4px;

  &-thumb
  {
    background: $primary;
    width: 4px;
    cursor: pointer;
  }
}

.text-one-line
{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.loading
{
  height: 56px;
  width: 56px;
}