body
{
  background-image: url('../cover.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
ul
{
  list-style: none;
  margin: 0;
  padding: 0;
}
h1, h2, h3, h4
{
  margin-bottom: 0;
}
input
{
  padding: 7px 0 7px 16px;
  background: $gray;
  border: 1px solid transparent;
  border-radius: $border-radius;
  color: $primary;

  &::placeholder
  {
    color: $gray-light;
  }

  &:focus
  {
    outline: none;
    border: 1px solid $primary;
    box-shadow: $btn-shadow;
  }
}
.wrap
{
  backdrop-filter: brightness(40%);
  background: transparent;
  transition: .6s;
  &.page
  {
    backdrop-filter: brightness(100%);
    background: $dark;
  }
  header
  {
    transition: .6s;
  }
}
.main
{
  padding-top: 65px;
  height: 100vh;
  background: rgba($gray, 0);
  overflow: hidden;
  transition: .6s;
}
.result
{
  .main
  {
    background: rgba($gray, 1);
    padding-top: 115px;
  }
}
.btn
{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background: $dark;
  box-shadow: $btn-shadow;
  cursor: pointer;
  transition: .3s;
  border: 1px solid $primary;
  border-radius: 9px;
  
  &-primary
  {
    color: $primary;
  }
  &-light
  {
    color: $light;
  }

  path
  {
    transition: .3s;
  }

  &:hover
  {
    background: $primary;
    color: $dark;

    path
    {
      fill: $dark;
    }
  }
}