body
{
  background-image: url('../cover.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
ul
{
  list-style: none;
  margin: 0;
}
h1
{
  margin-bottom: 0;
}
.index
{
  backdrop-filter: brightness(40%);
}
.btn
{
  display: block;
  background: $dark;
  box-shadow: 0 0 6px $primary;
  cursor: pointer;
  transition: .3s;

  path
  {
    transition: .3s;
  }

  &:hover
  {
    background: $primary;
    color: $dark;

    path
    {
      fill: $dark;
    }
  }
}