@import '../../asset/scss/custom_variables';

.logo
{
  width: 100%;
  a
  {
    margin: calc(27vh - 80px) 154px 0 auto;
    position: relative;
    width: 152px;
    overflow: hidden;
    white-space: nowrap;
    transition: .6s;

    @media(min-width: 992px)
    {
      margin: calc(27vh - 80px) 254px 0 auto;
    }
    @media(max-width: 340px)
    {
      margin: calc(27vh - 80px) 134px 0 auto;
    }

    &::after
    {
      content: '回首頁';
      position: absolute;
      top: 0;
      right: 0;
      font-size: $h4-font-size;
      line-height: 1.25;
      color: transparent;
      transition: .6s;
    }
  }
  svg
  {
    width: 100%;
    height: auto;
    filter: drop-shadow(0 4px 2px $shadow)
  }
}
.result_show,
.page_show
{
  width: 0;
  opacity: 0;
  transition: .6s;
  input
  {
    padding: 0;
    border-width: 0;
  }
  button
  {
    background: transparent;
    border: 0;
  }
  svg
  {
    display: none;
  }
  img
  {
    display: none;
  }
}
.crossIcon
{
  position: absolute;
  left: 0%;
  top: 0%;
  width: 0;
  height: 6px;
  background: $light;
  border: 2px solid $dark;
  transform: rotate(-45deg) translate(-8px, 10px);
  transition: .3s;
}
.page
{
  header
  {
    background: $dark;
  }
  .logo
  {
    width: 108px;
    a
    {
      margin: 0 12px 0 0;
      width: 96px;
      
      &::after
      {
        color: $primary;
      }
    }
  }
  .page_show
  {
    width: calc(100% - 108px);
    opacity: 1;

    input
    {
      padding: 7px 0 7px 16px;
      border-width: 1px;
    }

    &.like
    {
      width: auto;
    }
    img
    {
      display: block;
    }
  }
}
.result,
.nearby
{
  .logo
  {
    width: 100%;
    a
    {
      margin: 0;
    }
  }
  .page_show
  {
    width: 0%;
    opacity: 0;
    
    input
    {
      padding: 0;
      border-width: 0;
    }
  }
  .result_show
  {
    width: 100%;
    opacity: 1;

    svg
    {
      display: inline;
    }
    .crossIcon
    {
      width: 0;
      display: inline;

      &.showCross
      {
        width: 34px;
      }
    }

  }

  .map
  {
    @media(min-width: 992px)
    {
      visibility: hidden;
    }
  }
  
  .like
  {
    display: none;
  }
}
.favorites
{
  .logo
  {
    width: 100%;
    a
    {
      margin: 0;
    }
  }
  .page_show
  {
    width: 0%;
    opacity: 0;
    
    input
    {
      padding: 0;
      border-width: 0;
    }
  }
  .result_show
  {
    width: 100%;
    opacity: 1;

    svg
    {
      width: 34px;
      display: inline;
    }
  }
  .map
  {
    visibility: hidden;
  }
  .like
  {
    display: none;
  }
}