@import '../../asset/scss/custom_variables';

.logo a
{
  margin: calc(27vh - 80px) 154px 0 auto;
  position: relative;
  width: 152px;
  overflow: hidden;
  white-space: nowrap;
  transition: .6s;
  svg
  {
    width: 100%;
    height: auto;
    filter: drop-shadow(0 4px 2px $shadow)
  }
  &::after
  {
    content: '回首頁';
    position: absolute;
    top: 0;
    right: 0;
    font-size: $h4-font-size;
    line-height: 1.25;
    color: transparent;
    transition: .6s;
  }
}
.searchInput,
.goBack,
.icon
{
  display: none;
  opacity: 0;
  transition: .6s;
}
.page
{
  header
  {
    background: $dark;
  }
  .logo
  {
    flex: 0 0;
    a
    {
      margin: 0;
      width: 96px;
      
      &::after
      {
        color: $primary;
      }
    }
  }
  .searchInput
  {
    display: block;
    opacity: 1;
  }
}
.result
{
  .logo
  {
    flex: 1 0;
  }
  .searchInput
  {
    display: none;
    opacity: 0;
  }
  .goBack,
  .icon
  {
    display: block;
    opacity: 1;

    button
    {
      background: transparent;
      border: 0;
    }
  }
}