@import '../../asset/styles/custom_variables';
.datalist
{ 
  height: 100%;
  ul
  {
    height: calc(100vh - 135px);
    overflow-x: hidden;
    overflow-y: auto;
    transition: .3s;
  }
  
  li:nth-child(odd)
  {
    background-color: $gray;
    border-radius: $border-radius;
  }
  a{
    flex: 1 0;
  }
}
.wb-keep-all
{
  word-break: keep-all;
}