@import '../../asset/scss/custom_variables';
.datalist
{ 
  ul
  {
    overflow: auto;
  }
  
  li:nth-child(odd)
  {
    background-color: $gray;
    border-radius: $border-radius;
  }
  a{
    flex: 1 0;
  }
}