@import '../../asset/scss/custom_variables';
.keyboard
{
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: $spacer * .75;
  transform: translateY(100%);
  z-index: 1020;
  box-shadow: 0 -4px 6px $shadow;
  transition: .3s;

  .btn
  {
    height: 40px;
  }
}
input[name="keyboard"]:checked + .keyboard
{
  transform: translateY(0);
}
#noKeyboard:checked + .keyboard-frame .keyboard
{
  transform: translateY(95%);
}
.city-btn
{
  grid-area: 1 / 1 / 2 / 4;
}
.manual-btn
{
  grid-area: 1 / 4 / 2 / 6;
}
.enter-btn
{
  grid-area: 5 / 3 / 6 / 6;
}
.goBack-btn
{
  grid-area: 3 / 3 / 4 / 6;
}
.keyworad-show-btn
{
  box-shadow: 0 -4px 6px $shadow;
  cursor: pointer;
  z-index: 1030;
}