@import '../../styles/custom_variables';

.mapContainer
{
  position: absolute; 
  top: 64px;
  left: 0;
  right: 0;
  bottom: calc(50% - 90px);
  @media(min-width: 992px)
  {
    top: 0;
    right: 40%;
    bottom: 0;
  }
}
.leaflet-container .leaflet-control-attribution
{
  position: fixed;
  bottom: calc(50% - 90px);
  left: 0;
  right: 0;
  color: $light;
  background: rgba($dark, .5);

  @media(min-width: 992px)
  {
    bottom: 0;
  }

  a
  {
    color: $primary;
  }
}
.leaflet-popup
{
  font-family: $font-family-sans-serif;
}
.leaflet-tooltip
{
  background-color: transparent;
  border: 0;
  box-shadow: unset;
  font-family: $font-family-sans-serif;
  font-size: $h3-font-size;
  font-weight: 400;
  text-align: center;
  color: $light;
}
.stopIcon
{
  border-radius: 50%;
  box-shadow: $btn-shadow;
}
.lineShadow
{
  filter: drop-shadow(0 0 5px $primary);
}
.leaflet-top
{
  top: 116px;
}
.leaflet-touch .leaflet-bar
{
  border: 0;
}
.leaflet-bar a
{
  margin-bottom: 1px;
  border: 0;
  background: $gray;
  color: $light;
}
.backMarkerShow
{
  .goMarker
  {
    display: none;
  }
}
.goMarkerShow
{
  .backMarker
  {
    display: none;
  }
}
.person
{
  padding: 3px;
  background: $primary;
  border-radius: 50%;
}
.bus
{
  padding: 8px 6px;
  background: $dark;
  border-radius: 50%;
}
.animation-radar
{
  outline: 2px solid rgba($primary, .6);
  animation: radar 1s ease-out infinite;
}

@keyframes radar
{
  to
  {
    outline: 18px solid rgba($primary, 0);
  }
}