@import '../../asset/scss/custom_variables';

.mapContainer
{
  position: absolute; 
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  @media(min-width: 1024px)
  {
    right: 40%;
  }
}
.leaflet-container .leaflet-control-attribution
{
  position: fixed;
  bottom: calc(50% - 118px);
  left: 0;
  right: 0;
  color: $light;
  background: rgba($dark, .5);

  @media(min-width: 1024px)
  {
    bottom: 0;
  }

  a
  {
    color: $primary;
  }
}
.leaflet-popup
{
  font-family: $font-family-sans-serif;
}
.leaflet-tooltip
{
  background-color: transparent;
  border: 0;
  box-shadow: unset;
  font-family: $font-family-sans-serif;
  font-size: $h3-font-size;
  font-weight: 400;
  text-align: center;
  color: $light;
}
.stopIcon
{
  border-radius: 50%;
  box-shadow: $btn-shadow;
}
.lineShadow
{
  filter: drop-shadow(0 0 5px $primary);
}
.leaflet-top
{
  top: 116px;
}
.leaflet-touch .leaflet-bar
{
  border: 0;
}
.leaflet-bar a
{
  margin-bottom: 1px;
  border: 0;
  background: $gray;
  color: $light;
}
.backMarkerShow
{
  .goMarker
  {
    display: none;
  }
}
.goMarkerShow
{
  .backMarker
  {
    display: none;
  }
}