@import '../../asset/scss/custom_variables';
.nav
{
  @media(min-width: 1024px)
  {
    margin-left: auto;
    max-width: 40%;
  }
  &-list
  {
    padding-top: calc(27vh - 50px);
    background: $dark;
    opacity: 0;
    transition: .6s;
    position: relative;

    &::after
    {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 50%;
      height: 2px;
      background: $primary;
      box-shadow: $btn-shadow;
      transition: .3s;
    }
  }

  &-link
  {
    background: transparent;
    border: 0;
    color: $light;
    cursor: pointer;
  }
}

#back:checked + .nav-list::after
{
  transform: translateX(100%);
}

.page
{
  .nav
  {
    box-shadow: $box-shadow;
    z-index: 1020;
    
    &-list
    {
      display: flex;
      padding-top: 12px;
    }
  }
}
.result
{
  .nav
  {
    &-list
    {
      display: flex;
      padding-top: 65px;
      opacity: 1; 
    }
  }
}